[Unit]
Description=ShinyProxy
After=syslog.target network.target

[Service]
Type=simple
User=indexmic
Group=indexmic
WorkingDirectory=/etc/indexmic
ExecStart=/usr/bin/java -jar /opt/indexmic/indexmic.jar
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
PIDFile=/run/indexmic.lock

[Install]
WantedBy=multi-user.target
